@model IEnumerable<FoundImageModel>
@{
    ViewData["Title"] = "Home Page";
    var Images = ViewData["FoundImages"] as FoundImageModel;
}

@{
    var scrapeUrl = ViewData["scrapeUrl"] as SearchFormModel;
}

<div class="text-center">
    <h1 class="display-4">Crawl url for images</h1>
    
    <ul>
        @foreach (var imageModel in Model)
        {
            <li>@imageModel.imageUrl</li>
            <ul>
                @foreach (var existOnUrl in imageModel.existsOnUrls)
                {
                    <li>@existOnUrl</li>
                }
            </ul>

        }
    </ul>
</div>
